* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100%;
    height: 100%;

    @include small-desktop {
        font-size: 14px;
    }

    @include laptop {
        font-size: 13px;
    }

    @include tablets {
        font-size: 13px;
    }

    @include phones {
        font-size: 12px;
    }

    @include phones-small {
        font-size: 11px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    height: 100%;
    width: 100%;
    font-size: rem(18px);
    font-family: $didact;
    background-color: $bgc-gray;
    color: $black;

    &.fixed {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
    }
}

a {
    text-decoration: none;
    color: $black;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
.h1-title {
    font-size: rem(36px);
    font-family: $didact;
    font-weight: bold;
}

.h1-yeseva {
    font-size: rem(36px);
    font-family: $yeseva;
    font-weight: bold;
    color: #FFFFFF;
}

h2 {
    font-size: rem(24px);
    font-weight: bold;
}

.h2-yeseva {
    font-size: rem(30px);
    font-family: $yeseva;
    font-weight: bold;
    color: #FFFFFF;
}

h3 {
    font-size: rem(18px);
    font-weight: bold;
}

.h3-yeseva {
    font-size: rem(24px);
    font-family: $yeseva;
    font-weight: bold;
    color: #FFFFFF;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}


p {
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.container {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    position: relative;

    @include small-desktop {
        max-width: 1140px;
    }

    @include tablets {
        max-width: 993px;
    }

    @include phones {
        width: 98%;
    }
}

.section {
    padding: rem(40px) 0;

    &--white-bg {
        background-color: #FFFFFF;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.btn {
    display: inline-block;
    border: 0;
    background-color: transparent;
    font-weight: bold;
    padding: 0;
    cursor: pointer;

    &:focus,
    &:active {
        outline: 0;
    }

    &.records__more {
        display: block;
        background-color: $bgc-gray;
        border: 1px solid $border-another-gray;
        border-radius: 5px;
        line-height: rem(55px);
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color: $bgc-gray, $amount: 10%);
        }
    }

    &.transparent-gray-border-btn {
        line-height: rem(40px);
        padding: 0 rem(50px);
        border: 1px solid $border-gray;
        border-radius: 5px;
    }

    &.transparent-red-border-btn {
        line-height: rem(38px);
        padding: 0 rem(30px);
        border: 1px solid $red;
        border-radius: 5px;
    }

    &.gray-back-white-text-btn {
        line-height: rem(40px);
        padding: 0 rem(20px);
        border-radius: 5px;
        color: #FFFFFF;
        background-color: $black;
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color: $black, $amount: 10%);
        }
    }

    &.red-hashtag-btn {
        line-height: rem(28px);
        padding: 0 rem(10px);
        background-color: $red;
        border-radius: 3px;
        color: #FFFFFF;
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color: $red, $amount: 10%);
        }
    }

    &.gray-btn {
        line-height: rem(57px);
        border: 1px solid $border-another-gray;
        background-color: $bgc-gray;
        padding: 0 rem(50px);
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color: $bgc-gray, $amount: 10%);
        }
    }

    &.tag-white-btn {
        line-height: rem(22px);
        padding: 0 rem(12px);
        border-radius: 5px;
        border: 1px solid $border-another-gray;
        margin-right: rem(15px);
        margin-bottom: rem(10px);
        color: $text-gray;
        font-size: rem(15px);
        transition: border .3s ease-out;
        &:hover,&:focus,&:active {
            border-color: darken($color: $border-another-gray, $amount: 10%);
        }
    }

    &.tag-md-btn {
        font-size: rem(20px);
        font-weight: normal;
        color: $text-gray;
        background-color: $bgc-gray;
        border: 1px solid $border-another-gray;
        border-radius: 5px;
        line-height: rem(34px);
        padding: 0 rem(13px);
        transition: all .3s ease-out;
        &.active,
        &:hover {
            background-color: $black;
            color: #FFFFFF;
        }
    }

    &.auto-width-red-btn {
        line-height: 49px;
        text-transform: uppercase;
        color: $white;
        background-color: $red;
        width: 100%;
        padding: 0 10px;
        font-weight: normal;
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color: $red, $amount: 10%);
        }
        &--no-uppercase {
            text-transform: unset;
        }
    }
    &.red-btn {
        line-height: 40px;
        color: $white;
        background-color: $red;
        padding: 0 20px;
        font-weight: normal;
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color: $red, $amount: 10%);
        }
    }
    &.wide-red-btn {
        line-height: 48px;
        text-transform: uppercase;
        color: $white;
        background-color: $red;
        padding: 0 40px;
        font-weight: normal;
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color: $red, $amount: 10%);
        }
    }

    &.tag-md-white-btn {
        font-size: rem(16px);
        line-height: rem(28px);
        font-weight: normal;
        color: $black;
        background-color: $white;
        border: transparent;
        border-radius: 2px;
        padding: 0 rem(13px);
        transition: all .3s ease-out;
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color:  $white, $amount: 10%);
        }
    }

    &.comment-btn {
        display: inline-flex;
        align-items: center;
        color: $red;

        &:before {
            content: '';
            width: rem(17px);
            height: rem(17px);
            margin-right: 5px;
            display: block;
            background: url(../images/svg/icons/comments.svg) center center / contain no-repeat;
        }
    }

    &.comment-text-btn {
        color: $red;
        font-size: rem(10px);
        font-weight: normal;
        font-family: $yeseva;
        display: flex;
        align-items: center;

        &:before {
            content: '⮩';
            font-size: rem(26px);
        }
    } 
    
    &.white-shadowed-red-btn {
        line-height: rem(49px);
        display: block;
        background-color: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        color: $red;
        transition: background .3s ease-out;
        &:hover,&:focus,&:active {
            background-color: darken($color:  $white, $amount: 10%);
        }
    }

    &.shadowed-btn {
        line-height: rem(49px);
        padding: 0 rem(27px);
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #FFFFFF;
        &--iconed {
            display: flex;
            align-items: center;
            padding: 0 17px;
            .shadowed-btn__icon {
                width: 24px;
                height: 24px;
                margin-right: 15px;
            }
        }
        &--color-red {
            color: $red;
        }

        &--arrow-down {
            display: flex;
            align-items: baseline;

            &:after {
                content: '';
                margin-left: 5px;
                width: 14px;
                height: 7px;
                display: block;
                background: url(../images/svg/icons/arrow-down-small.svg) center center / contain no-repeat;
            }
        }

        &.datepicker-btn {
            padding: 0 rem(25px);
            position: relative;

            &:after {
                content: '';
            }

            &.picker-active {
                box-shadow: none;

                .events-filter__datepicker-reset {
                    opacity: 1;
                    width: 16px;
                }

                .events-filter__datepicker-wrap {
                    background-color: $border-another-gray;
                }

                .datepicker-here {
                    max-width: 90px;
                }
            }

            .datepicker-here {

                //    width: 100%;
                //    height: 100%;
                //    z-index: 1;
                &::placeholder {
                    color: $black;
                }
            }
        }
    }
}

.owl-carousel {
    .owl-stage-outer {
        overflow: hidden;
    }

    .owl-stage {
        display: flex;
    }
}

.owl-prev,
.owl-next {
    display: none;
}