* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100%;
    height: 100%;

    @include small-desktop {
        font-size: 14px;
    }

    @include laptop {
        font-size: 13px;
    }

    @include tablets {
        font-size: 13px;
    }

    @include phones {
        font-size: 12px;
    }

    @include phones-small {
        font-size: 11px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.15;
    height: 100%;
    width: 100%;
    font-size: rem(18px);
    font-family: $didact;
    background-color: $bgc-gray;
    color: $black;
    &.fixed {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
    }
}

a {
    text-decoration: none;
    color: $black;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1, .h1-title {
    font-size: rem(36px);
    font-family: $didact;
    font-weight: bold;
}
.h1-yeseva {
    font-size: rem(36px);
    font-family: $yeseva;
    font-weight: bold;
    color: #FFFFFF;
}
h2 {
    font-size: rem(24px);
    font-weight: bold;
}
.h2-yeseva {
    font-size: rem(30px);
    font-family: $yeseva;
    font-weight: bold;
    color: #FFFFFF;
}
h3 {
    font-size: rem(18px);
    font-weight: bold;
}
.h3-yeseva {
    font-size: rem(24px);
    font-family: $yeseva;
    font-weight: bold;
    color: #FFFFFF;
}
ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}


p {
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

.wrapper {
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.container {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    @include small-desktop {
        max-width: 1140px;
    }
    @include tablets {
        max-width: 993px;
    }
    @include phones {
        width: 98%;
    }
}

.section {
    padding: rem(40px) 0;
    &--white-bg {
        background-color: #FFFFFF;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

.img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.btn {
    display: inline-block;
    border: 0;
    background-color: transparent;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
    &:focus, &:active {
        outline: 0;
    }
   &.transparent-gray-border-btn {
       line-height: rem(40px);
       padding: 0 rem(50px);
       border: 1px solid $border-gray;
       border-radius: 5px;
   }
   &.gray-back-white-text-btn {
       line-height: rem(40px);
       padding: 0 rem(20px);
       border-radius: 5px;
       color:#FFFFFF;
       background-color: $black;
   }
   &.red-hashtag-btn {
       line-height: rem(28px);
       padding: 0 rem(10px);
       background-color: red;
       border-radius: 3px;
       color: #FFFFFF;
   }
   &.gray-btn {
        line-height: rem(57px);
        border: 1px solid $border-another-gray;
        background-color: $bgc-gray;
        padding: 0 rem(50px);
   }
   &.tag-white-btn {
       line-height: rem(22px);
       padding: 0 rem(12px);
       border-radius: 5px;
       border: 1px solid $border-another-gray;
       margin-right: rem(15px);
       margin-bottom: rem(10px);
       color: $text-gray;
       font-size: rem(15px);
   }
   &.tag-md-btn {
        font-size: rem(20px);
        font-weight: normal;
        color: $text-gray;
        background-color: $bgc-gray;
        border: 1px solid $border-another-gray;
        border-radius: 5px;
        line-height: rem(34px);
        padding: 0 rem(13px);
        transition: all .3s ease-out;
        &.active, &:hover {
            background-color: $black;
            color: #FFFFFF;
        }
   }
   &.comment-btn {
       display: inline-flex;
       align-items: center;
       color: $red;
       &:before {
           content: '';
           width: rem(17px);
           height: rem(17px);
           margin-right: 5px;
           display: block;
           background: url(../images/svg/icons/comments.svg) center center / contain no-repeat;
       }
   }
   &.comment-text-btn {
       color: $red;
       font-size: rem(10px);
       font-weight: normal;
       font-family: $yeseva;
       display: flex;
       align-items: center;
       &:before {
           content: '⮩';
           font-size: rem(26px);
       }
   }
}

.owl-carousel {
    .owl-stage-outer {
        overflow: hidden;
    }
    .owl-stage {
        display: flex;
    }
}

.owl-prev, .owl-next {
    display: none;
}

