.announcements-empty__container {
    text-align: center;
    padding-bottom: rem(115px);
}

.announcements-empty__title {
    margin-bottom: rem(55px);
}

.announcements-empty__picture {
    max-width: rem(551px);
    margin: 0 auto;
}