.articles {
    padding-bottom: 139px;
}

.articles__cards {
    margin-bottom: 40px;
}

.articles__card {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    color: #FFFFFF;
    margin-bottom: 20px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(61.37%, rgba(0, 0, 0, 0.6)), to(black));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6) 61.37%, black 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6) 61.37%, black 100%);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6) 61.37%, black 100%);
    }
    &:hover {
        color: $white;
    }
    &--main {
        &::before {
            background: linear-gradient(0deg, #905130 1.55%, rgba(144, 81, 48, 0) 100%);
        }
    }
    &--hot {
        text-align: center;
        &::before {
            background: rgba(0, 0, 0, 0.7);
        }
    }
}

.articles__card-title {
    &--big {
        font-family: $yeseva;
        max-width: 580px;
    }
}

.articles__card-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    padding: 1.875rem;
}

.articles__card-subtitle {
    color: $red;
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 10px;
}

.articles__card-title {    
    font-weight: normal;
    margin-bottom: 0.625rem;
}

.articles__card-text {
    line-height: 24px;
    &--centered {
        margin: 0 auto 30px;
        max-width: 440px;
    }
}

.articles__card-date {
    margin-bottom: 13px;
    color: $text-gray-more;
}

.articles__more-wrap {
    display: flex;
    justify-content: center;
}

.articles__more-articles {
    &.btn.records__more {
        display: inline-block;
        padding: 0 20px;
    }
}