.event-date__info-wrap {
    display: flex;
    font-family: $yeseva;
}

.event-date__date {
    background-color: $red;
    padding: 2px 0 2px 0;
    color: #FFFFFF;
    flex-shrink: 0;
    text-align: center;
    width: rem(79px);
    height: rem(79px);
    margin-right: rem(21px);
}

.event-date__day {
    font-size: rem(40px);
    line-height: rem(46px);
}

.event-date__month {
    font-size: rem(24px);
    line-height: rem(28px);
}

.event-date__info-text {
    line-height: rem(22px);
}

.event-date__info-name {
    font-size: rem(19px);
    margin-bottom: rem(10px);
}

.event-date__info-place {
    font-family: $didact;
    font-size: rem(16px);
}