.footer__up {
    background-color: $deep-gray;
    padding-top: rem(45px);
}

.footer__up-container {
    // display: flex;
    // justify-content: space-between;
    padding-bottom: rem(25px);
}

.footer__row {
    display: flex;
    &:first-child {
        margin-bottom: rem(70px);
    }
    &--align-center {
        align-items: center;
        position: relative;
    }
}

.footer__col {
    width: 34%;
    &--logo {
        width: 18%;
    }
    &--sm {
        width: 18%;
    }
    &--md {
        width: 36%;
    }
}

.footer__menu-title {
    display: block;
    font-family: $yeseva;
    font-size: rem(24px);
    line-height: rem(28px);
    color: #FFFFFF;
    margin-bottom: rem(19px);
    &:hover {
        text-decoration: none;
        color: #FFFFFF;
    }
}

.footer__menu-link {
    line-height: rem(34px);
    color: $footer-text-gray;
    &:hover {
        text-decoration: none;
        color: $footer-text-gray;
    }
    &--another {
        margin-right: rem(26px);
        &:last-child {
            margin-right: 0;
        }
    }
}

.footer__menu-list {
    &--two-columns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .footer__menu-item {
            min-width: 150px;
        }
    }
}

.footer__age-limit {
    font-family: $yeseva;
    font-size: rem(36px);
    line-height: rem(42px);
    color: $text-gray;
    width: 18%;
}

.footer__subscribe-wrap {
    position: relative;
    margin-left: auto;
}

.footer__subscribe-title {
    font-size: rem(16px);
    font-family: $yeseva;
    position: absolute;
    color: #FFFFFF;
    top: -30px;
}

.footer__subscribe-form {
    margin-bottom: 0;
}

.footer__subscribe-input {
    max-width: unset;
    width: rem(245px);
    &::placeholder {
        color: $text-gray;
    }
}

.footer__down {
    background-color: $so-black;
    padding: 9px 0;
}

.footer__down-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__copyright {
    font-size: rem(14px);
    color: $text-gray;
}

.footer__socials {
    display: flex;
    align-items: center;
}

.footer__social-item {
    margin-right: 8px;
    &:last-child {
        margin-right: 0;
    }
}

.footer__social-link {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__social-icon {
    width: 100%;
    height: 100%;
}