.inner__page-content {
    padding-top: rem(16px);
    &--padding-top__null {
        padding-top: 0;
    }
}

.inner__page-title {
    padding-top: 15px;
    text-align: center;
    line-height: rem(48px);
}
