.main-up {
    padding: rem(30px) 0;
}

.main-up__slide {
    position: relative;
    height: rem(534px);
    background: center center / cover no-repeat;
    color: #FFFFFF;
}

.main-up__slide-title {
    position: absolute;
    left: rem(30px);
    top: rem(25px);
    font-weight: normal;
}

.main-up__btn {
    position: absolute;
    right: rem(30px);
    top: rem(30px);
}

.main-up__content {
    position: absolute;
    left: rem(30px);
    bottom: rem(23px);
    max-width: rem(350px);
}

.main-up__content-date {
    margin-bottom: rem(20px);
    font-family: $didact;
    font-size: rem(24px);
}

.main-up__content-title {
    margin-bottom: rem(20px);
    font-weight: normal;
}

.main-up__slider-wrapper {
    position: relative;
    .owl-dots {
        display: none;
    }
}

.main-up__slider-buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}

.main-up__slider-counter {
    position: absolute;
    right: rem(28px);
    bottom: rem(23px);
    color: #FFFFFF;
    font-size: rem(24px);
    letter-spacing: 1px;
}