.ot-form__contol {
    position: relative;
    width: 100%;
}

.ot-form__input-text {
    width: 100%;
    line-height: 49px;
    font-size: 18px;
    padding-left: 15px;
    border: 1px solid $text-gray-more;
    border-radius: 5px;
    &::placeholder {
        color: $text-gray;
    }
}
