.records__content {
    width: 66%;
}

.records__wrap {
    display: flex;
    justify-content: space-between;
}

.records__aside {
    width: 32.5%;
}

.records__aside-card {
    background-color: #FFFFFF;
    border: 1px solid $border-another-gray;
    border-radius: 5px;
    padding: rem(19px) rem(30px) rem(23px) rem(31px);
    margin-bottom: rem(20px);
}

.records__aside-title {
    color: $text-gray;
    margin-bottom: rem(20px);
}

.records__tags-btn {
    margin-right: rem(6px);
    margin-bottom: rem(7px);
}